query/src/main/resources/META-INF/STSWSDL.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="STS"
			 targetNamespace="http://www.stellwerksim.de/wsdl/STS"
			 xmlns="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			 xmlns:tns="http://www.stellwerksim.de/wsdl/STS"
			 xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
			 xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.stellwerksim.de/wsdl/STS" xmlns:tns="http://www.stellwerksim.de/wsdl/STS">
			<xsd:simpleType name="getStringArrayResponse">
				<xsd:list itemType="xsd:string">
				</xsd:list>
			</xsd:simpleType>
			<xsd:complexType name="TipAnswer">
				<xsd:all>
					<xsd:element name="title" type="xsd:string"></xsd:element>
					<xsd:element name="text" type="xsd:string"></xsd:element>
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<message name="getFriendFoeRequest">
		<part name="token" type="xsd:string"/>
		<part name="friend" type="xsd:boolean"/>
	</message>
	<message name="getFriendFoeResponse">
		<part name="return" type="tns:getStringArrayResponse"/>
	</message>
	<message name="STSWSDLOperationRequest">
		<part name="part1" type="xsd:string"/>
	</message>
	<message name="STSWSDLOperationResponse">
		<part name="return" type="xsd:string"/>
	</message>
	<message name="getTipRequest">
		<part name="token" type="xsd:string"/>
	</message>
	<message name="getTipResponse">
		<part name="return" type="tns:TipAnswer"/>
	</message>
	<portType name="STSPort">
		<wsaw:UsingAddressing wsdl:required="true" />
		<operation name="getFriendFoe" parameterOrder="token friend">
			<input name="input1" message="tns:getFriendFoeRequest"/>
			<output name="output1" message="tns:getFriendFoeResponse"/>
		</operation>
		<operation name="getName" parameterOrder="part1">
			<input name="input2" message="tns:STSWSDLOperationRequest"/>
			<output name="output2" message="tns:STSWSDLOperationResponse"/>
		</operation>
		<operation name="getTip">
			<input name="input3" message="tns:getTipRequest"/>
			<output name="output3" message="tns:getTipResponse"/>
		</operation>
		<wsaw:Anonymous>required</wsaw:Anonymous>
	</portType>
	<binding name="STSPortBinding" type="tns:STSPort">
		<http:binding verb="GET"/>
		<operation name="getFriendFoe">
			<http:operation location="" />
			<input name="input1">
				<http:urlEncoded/>
			</input>
			<output name="output1">
			</output>
		</operation>
		<operation name="getName">
			<http:operation location=""/>
			<input name="input2">
				<http:urlEncoded/>
			</input>
			<output name="output2">
			</output>
		</operation>
		<operation name="getTip">
			<http:operation location=""/>
			<input name="input3"/>
			<output name="output3"/>
		</operation>
	</binding>
	<service name="STSService">
		<port name="STSPort" binding="tns:STSPortBinding">
			<http:address location="http://localhost:${HttpDefaultPort}/service"/>
		</port>
	</service>
</definitions>
